<html>
<head>
    <title>Moja pierwsza strona w Django</title>
</head>
<body>
    <div><h1> Witaj na mojej stronie </h1></div>
    <div><img src="http://i2.pinger.pl/pgr214/99df58d50000ecb050f1ff76/slodki-kotek-5.jpeg" width= 50% ></div>
    <div><h2>Inspired by: <a href="http://djangogirls.org">Django Girls Blog</a></h2></div>
</br>
    {% for post in posts %}
    <div>
    </br>
        <p>published: {{ post.published_date }}</p>
        <h3><a href="">{{ post.title }}</a></h3>
        <p>{{ post.text|linebreaks }}</p>
    </div>
{% endfor %}

</body>
</html>